.Rproj.user
.Rhistory
.RData
.Ruserdata

cache

**/.DS_Store
**/.Rapp.history

**/*_cache/
**/*_files/

data/raw/QCEW/

data/raw/BEA_county_econ_stats/CAEMP25N/*
data/raw/BEA_county_econ_stats/CAINC*/*
!data/raw/BEA_county_econ_stats/*/*.xml
!data/raw/BEA_county_econ_stats/*/*.html
!data/raw/BEA_county_econ_stats/*/*.zip
!data/raw/BEA_county_econ_stats/*/*ALL_AREAS*


data/raw/CAGDP?/*
!data/raw/CAGDP?/*/*.xml
!data/raw/CAGDP?/*/*.html
!data/raw/CAGDP?/*/*.zip
!data/raw/CAGDP?/*/*ALL_AREAS*


data/temp/qcew_compiled_raw_ff.RDS